html, body {
	margin: 0;
	height: 100%
}

/* HEADER */

.header {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid black;
	align-items: center;
}

.header-logo {
	display: flex;
	height: 60px;
	width: 300px;
	padding-left: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.header-title {
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: mediumaquamarine;
	align-items: center;
	padding-left: 10px;
}

/* NAVIGATION */

.menu {
	display: inline-flex;
	color: black;
	align-items: center;
}

.menu a {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding: 20px;

}

/* MAIN CONTENT */

.main-container {
	display: flex;
	position: absolute;
	justify-content: space-between;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	overflow: auto;
	margin-top: 100px;
}

.column-large {
	display: inline-flex;
	flex-direction: column;
	flex-flow: wrap;
	align-self: flex-start;
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-right: 20px;
}

.column-medium {
	display: inline-flex;
	flex-direction: column;
	flex-flow: wrap;
	align-self: flex-start;
	width: 300px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-right: 20px;
}

.column-small {
	display: inline-flex;
	flex-direction: column;
	flex-flow: wrap;
	align-self: flex-start;
	width: 240px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-right: 20px;
}

/* FIRST COLUMN */

.column-large--main-title {
	display: flex;
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-image: url("../images/img-story-main.png");
	height: 300px;
	font-family: Georgia;
	font-weight: bold;
	font-size: 40px;
	color: white;
}

.column-large--main-text {
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Georgia;
 	font-size: 17px;
  	color: black;
}

.column-large--second-title {
	width: 630px;
	font-family: Georgia;
	font-size: 17px;
	color: black;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.column-large--second-text {
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Georgia;
 	font-size: 17px;
  	color: black;
}

.column-large--third-title {
	display: flex;
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-image: url("../images/img-story-2.png");
	height: 300px;
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	justify-content: flex-start;
  	flex-direction: column;
  	text-align: center;
}

.column-large--fourth-title {
	width: 630px;
	font-family: Georgia;
	font-size: 17px;
	color: black;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.column-large--fourth-text {
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	align-items: center;
	font-family: Georgia;
 	font-size: 17px;
  	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.column-large--fifth-title {
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	align-items: center;
	background-image: url("../images/img-story-3.png");
	height: 300px;
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	justify-content: flex-start;
  	flex-direction: column;
  	text-align: center;
}

/* SECOND COLUMN */

.column-medium--first-title {
	width: 630px;
	font-family: Georgia;
	font-size: 17px;
	color: black;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.column-medium--first-text {
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	align-items: center;
	font-family: Georgia;
 	font-size: 17px;
  	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.column-medium--second-title {
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	align-items: center;
	background-image: url("../images/img-story-1.png");
	height: 300px;
	font-family: Georgia;
 	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	justify-content: flex-start;
  	flex-direction: column;
  	text-align: center;
}

.column-medium--third-text {
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	align-items: center;
	font-family: Georgia;
 	font-size: 17px;
  	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* THIRD COLUMN */

.column-small--main-image {
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	align-items: center;
}

.column-small--first-title {
	width: 630px;
	font-family: Georgia;
	font-size: 17px;
	color: black;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.column-small--first-text {
	width: 630px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	align-items: center;
	font-family: Georgia;
 	font-size: 17px;
  	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}